* {
    margin: 0;
    padding: 0;
}
body {
    background: #0e153a;
}

.App {
    width: 100%;
    overflow: hidden;
}



/* *************   User Name   ************** */

.userName-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName{
    width: 700px;
    border-radius: 60px;
    border: none;
    outline: none;
    padding: 30px 50px;
    font-size: 50px;
    font-weight: 700;
    background: #303a52;
    color: #f8f8f8;

}

.userName::placeholder{
    color: #e3dfc8;
}

.userName-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userSumbit{
    margin-top: 40px;
    padding: 20px 80px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.userSumbit:hover{
    background: #2d4059;
    color: whitesmoke;
}

/* ****************  userName end   *************** */



/* ****************    Start Container   ***************** */

.startContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.startDialogue{
    padding: 20px;
    width: 500px;
    height: 300px;
    background: whitesmoke;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
}

.startDialogue h1{
    font-size: 22px;
    font-weight: 700;
}

.startDialogue h6{
    margin-top: 20px;
    padding: 14px 40px;
    background: rgba(0,0,0,.7);
    border-radius: 40px;
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.startDialogue h6:hover{
    background: rgba(0,0,0,.4);
}


/* *******  Start Container end  ********* */

.header {
    padding: 0 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.player,
.score,
.chances {
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    opacity: 0.9;
}

.header h2 {
    padding-left: 5px;
    font-size: 17px;
    font-weight: 700;
    color: #dee1ec;
}

.subHeader {
    padding: 10px 20px;
}

.subHeader h1 {
    display: inline-block;
    font-size: 17px;
    padding: 15px 20px;
    background: whitesmoke;
    border-radius: 6px;
    color: #3e3636;
    text-transform: uppercase;
    cursor: pointer;
}

.card-container {
    margin: 40px auto;
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.card {
    flex: 1 1 10%;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    transform: rotateY(180deg);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid #dee1ec;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}

.front {
    width: 100%;
    transition: 0.3s ease-in-out;
    display: flex;
    object-fit: contain;
    justify-content: cover;
    align-items: center;
}

.back {
    transform: rotateY(90deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.active .front {
    transform: rotateY(90deg);
}

.active .back {
    transform: rotateY(0);
}
