* {
    margin: 0;
    padding: 0;
}
body {
    background: #0e153a;
}

.App {
    width: 100%;
    overflow: hidden;
}

.header {
    padding: 0 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.player,
.score,
.chances {
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    opacity: 0.9;
}

.header h2 {
    padding-left: 5px;
    font-size: 17px;
    font-weight: 700;
    color: #dee1ec;
}

.subHeader {
    padding: 10px 20px;
}

.subHeader h1 {
    display: inline-block;
    font-size: 17px;
    padding: 15px 20px;
    background: whitesmoke;
    border-radius: 6px;
    color: #3e3636;
    text-transform: uppercase;
    cursor: pointer;
}

.card-container {
    margin: 40px auto;
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.card {
    flex: 1 1 10%;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    transform: rotateY(180deg);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid #dee1ec;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}

.front {
    width: 100%;
    transition: 0.3s ease-in-out;
    display: flex;
    object-fit: contain;
    justify-content: cover;
    align-items: center;
}

.back {
    transform: rotateY(90deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.active .front {
    transform: rotateY(90deg);
}

.active .back {
    transform: rotateY(0);
}
